<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Argentina campeon</h1>
    <h2>Este es el primer título que gana el equipo de mayores de Argentina con Lionel Messi entre sus seleccionados</h2>
    <p>El capitán del fútbol argentino tuvo la oportunidad de anotar un gol cerca del cierre del partido este sábado, en lo que hubiera sido una final perfecta, pero falló el disparo.</p>
    <a href="potreroDigital_ejercicio1.a_Aramayo_Natali.html">nota complementaria</a>
  </body>
</html>
