<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
a:hover {
  background-color: green;
}
</style>
    <meta charset="utf-8">
    <title>Argentina campeon</title>
    <!-- esto es lo que se ve en el icono de la pagina -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- con esto le pedi que busque en esa carpeta el archivo css -->
  </head>

  <body>
    <h1 class="colorBlanco">Copa América 2021: la Argentina de Messi le gana a Brasil en el Maracaná</h1>
    <!-- este sera el titulo de la nota -->
    <h2 class="colorBlanco">Argentina volvió a ganar la Copa América después de 28 años tras derrotar a Brasil este sábado por 1-0 en Río de Janeiro.</h2>
    <!-- subtitulo de la nota -->
    <img src="https://resizer.glanacion.com/resizer/z2Vt-lDE0jFAhiKJmA0IGXIvDPk=/768x0/filters:quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/AYRPWUOYPVGATISVP3AIEXFIQU.jpg">
<!-- esta es una imagen global -->
    <p class="colorBlanco">Con la asistencia de Rodrigo de Paul, Ángel Di María anotó en el minuto 22 del partido el gol que le dio el triunfo a la albiceleste.</p>
    <!-- el parrafo  -->
    <a href="potreroDigital_ejercicio1.b_Aramayo_Natali.html"> Nota Adicional </a>
    <!-- este link redirige hacia el otro archivo -->


  </body>
</html>
